@model IEnumerable<BusinessObjects.Product>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    function QuantityUp(ID, Price) {
        var cartquantity = $('#cartQuantity_' + ID).val();
        var cartq = parseInt(cartquantity) + 1;
        SetTotal(ID, cartq, Price);
        var carttotal = $("#CartTotal").val();
        carttotal = (parseFloat(carttotal) + parseFloat(Price)).toFixed(2);
        $("#CartTotal").val(carttotal);
        $("#spancarttotal").text("$ " + carttotal);
    }

    function QuantityDown(ID, Price) {
        var cartquantity = $('#cartQuantity_' + ID).val();
        if (cartquantity != 1) {
            var cartq = parseInt(cartquantity) - 1;
            SetTotal(ID, cartq, Price);
            var carttotal = $("#CartTotal").val();
            carttotal = parseFloat(carttotal) - parseFloat(Price);
            $("#CartTotal").val(carttotal);
            $("#spancarttotal").text("$ " + carttotal);
        }
    }

    function SetTotal(ID, cartq, Price) {
        $('#cartQuantity_' + ID).val(cartq);
        var total = (parseFloat(cartq) * parseFloat(Price)).toFixed(2);
        $('#cartQuantityTotal_' + ID).text("$ " + total);
    }


</script>



<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BusinessObjects.Product p in Model)
                    {
                        <tr>
                            <td class="cart_product">
                                <a href=""><img style="width: 100px;" src="@p.MainImageURL" alt=""></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">@p.Name</a></h4>
                                <p>@p.Description</p>
                            </td>
                            <td class="cart_price">
                                <p>@p.Price</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up" onclick="QuantityUp(@p.ID,@p.Price)" href="#abc"> + </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" readonly="readonly" value="1" id='cartQuantity_@p.ID' autocomplete="off" size="2">
                                    <a class="cart_quantity_down" onclick="QuantityDown(@p.ID,@p.Price)" href="#abc"> - </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price" id='cartQuantityTotal_@p.ID'>$ @p.Price</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->
<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>What would you like to do next?</h3>
            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">
                        <li>
                            <input type="checkbox">
                            <label>Use Coupon Code</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Use Gift Voucher</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Estimate Shipping & Taxes</label>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Country:</label>
                            <select>
                                <option>Australia</option>
                            </select>

                        </li>
                        <li class="single_field">
                            <label>Region / State:</label>
                            <select>
                                <option>Tasmania</option>

                            </select>

                        </li>
                        <li class="single_field zip-field">
                            <label>Zip Code:</label>
                            <input type="text">
                        </li>
                    </ul>
                    <a class="btn btn-default update" href="">Get Quotes</a>
                    <a class="btn btn-default check_out" href="">Continue</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <input type="hidden" id="CartTotal" value="@ViewBag.CartTotal " />
                    <ul>
                        <li>Cart Sub Total <span id="spancarttotal">$ @ViewBag.CartTotal </span></li>
                        <li>Eco Tax <span>$2</span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span>$61</span></li>
                    </ul>
                    <a class="btn btn-default update" href="">Update</a>
                    <a class="btn btn-default check_out" href="/UserAccount/CheckOut">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->
